/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-text-weight, 400);
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #fff);
  padding: 100px clamp(0rem, -8.143rem + 34.742vw, 23.125rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stretching-block {
  inline-size: var(--stretching-block-inline-size, clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem));
}

.header {
  margin-block-end: 100px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid var(--accent-color, #000);
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) clamp(0.875rem, -1.469rem + 10vw, 7.531rem) 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: 400;
  margin-block-end: 20px;
}

.header__text {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-block-end: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
  margin-inline-start: 17px;
}

.theme-menu__item {

}

.theme-menu__button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}



.theme-menu__button:hover, .theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button_active {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -15px;
  inset-block: 0;
  animation: arrow-jumping 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset-inline-start: 6px;
  inset-block-end: -1px;
  inline-size: 84%;
  block-size: 2px;
  background-color: var(--accent-color, #000);
  scale: 0 1;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
  transition: scale 0.3s ease;
  transform-origin: 0 0;
}


.content {

}



.card__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.card__list-item {
  inline-size: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
}

.card__title {
  font-size: 18px;
  padding: 3px 10px;
  font-variation-settings: 'wght' var(--card-title-weight, 700);
  line-height: normal;
}

.card__img-block {
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  position: relative;
}

.card__img {
  object-fit: cover;
  /* object-position: -335.017px 0; */
  inline-size: 100%;
  block-size: 100%;
  border-block: 2px solid var(--accent-color, #000);
}

.card__img-label {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: normal;
  text-shadow:
    -1px 0 var(--img-label-color, #fff),
    0 1px var(--img-label-color, #fff),
    1px 0 var(--img-label-color, #fff),
    0 -1px var(--img-label-color, #fff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: absolute;
  inset-inline-end: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  inset-block-start: clamp(1.75rem, 1.706rem + 0.188vw, 1.875rem);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__img-label {
      -webkit-text-stroke: 1px var(--img-label-color, #fff);
      text-stroke: 1px var(--img-label-color, #fff);
      text-shadow: none;
  }
}

.card__text-block {
  padding: 32px 25px 25px;
}

.card__text {
  font-size: 18px;
  line-height: 1.16667;
  max-inline-size: 646px;
}

.card__text-custom {
  margin-block-start: 27px;
}

.card__button-block {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 25px 22px;
}

.card__button {
  appearance: none;
  background-color: transparent;
  border: none;
  align-self: flex-start;
}

.card__icon-button {

}

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--accent-color, #000);
  font-size: 14px;
}

.card__like-button {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  border: 2px solid var(--accent-color, #000);
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.footer {
  margin-block-start: 49px;
  display: flex;
  place-content: center;
}

.footer__button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--accent-color, #000);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 0.9;
}


.footer_floppy-icon {
  inline-size: calc(3.063rem - clamp(1.313rem, 1.158rem + 0.657vw, 1.75rem));
  /* block-size: calc(1.313rem - clamp(1.313rem, 1.158rem + 0.657vw, 1.75rem));; */
}


@media (width <= 375px) {
  .stretching-block {
    --stretching-block-inline-size: 100%;
    padding-inline: 0;
  }
  .footer__button {
    flex-direction: column;
    justify-content: center;
  }
}
